.App {

  margin: 0px;
}

header{
  text-align: center;
  color: black;
  margin: 0px;

}

#form{
  width: 540px;
  margin: auto;
  border-radius: 4px;
  background-color: lightblue;
  min-height: 50vh;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
}

#numberInput{
  margin-top: 5rem;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
  width: 300px;
  border-color: gray;
}



#submit{
  margin: auto;
  display: block;
  border-radius: 5px;
  background-color:lightsalmon;
  font-weight: bold;
  width: 100px;
  height: 25px;
}

#result{
  text-align: left;
  margin: 10px;
  padding-left: 100px;
  margin-top: 30px;
}

#result :nth-child(2){
  color: red;
  margin-left: 10px;
}

#hint{
  margin-bottom: 30px;
  font-size: 12px;
  color: red;
  margin-top: 0px;
}